*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
/.factorypath
/mybatis-dsc-generator.iml
/release.properties
/pom.xml.releaseBackup
